[Unit]
Description=The Overwatch bot for Discord

[Service]
Type=simple
WorkingDirectory=/path/to/overbot/
ExecStart=/usr/bin/python3 /path/to/overbot/bot.py
User=username
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
